main {
  margin-bottom: 10rem;
}
.imagen {
  height: 80px;
}
.amarillo {
  background-color: yellow;
}
.azul {
  background-color: blue;
  color: white;
}
.marron {
  background-color: brown;
  color: white;
}
.naranja {
  background-color: orange;
}
.rojo {
  background-color: red;
}
.rosa {
  background-color: pink;
}
.verde {
  background-color: green;
}
.violeta {
  background-color: violet;
}
.posicion {
  background-color: black;
  color: white;
}
.noPosicion {
  background-color: grey;
  color: white;
}
